/* Header */

.reverse-header {
}
.site-header {
}
/* Menus */

.home,
.page-about {
  .site-header {
    position: absolute;
    z-index: 99;
  }
}

.site-header {
  width: 100%;
  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    content: '';
  }
}
.main-navigation {
  header & {
    height: 3.125rem;
  }
  height: 100%;
  padding: 0.5rem;
  text-transform: uppercase;
  .menu-toggle {
    display: none;
  }
  .site {
    &-logo {
      height: 100%;
      img {
        display: block;
        width: auto;
        height: 100%;
      }
    }
  }
}

/* HERO BANNER */
.home-hero {
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4)),
    #969696 url(../../images/home-hero.jpg) no-repeat top;
  background-size: cover, cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  // position: fixed;
}

/*  MAIN PAGE SHOP STUFF PREVIEW */

.home h2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 3.75rem;
  color: #2f1339;
  font-family: Novecento Sans Web, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.product-type-blocks {
  display: flex;
  flex-direction: row;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0.75rem;
  border-top-width: 5px;
  justify-content: space-between;

  .product-each {
    width: 23.5%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: 1px solid #e1e1e1;
    border-radius: 0 1rem;
    padding: 0.75 rem;

    img {
      width: 25%;
    }
    p {
      text-align: center;
    }
    a {
    }
  }
}

/* SHOP STUFF PAGE */

#page {
  width: 100%;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .product-taxonomies {
    display: flex;
    flex-direction: row;
    .product-taxonomies-list {
      padding: 0 1rem;
      margin-bottom: 3rem;
    }
  }
}

.product-name {
  // margin-top: 3.125rem;
  // padding-top: 20px;
  // padding-bottom: 20px;
  // margin-bottom: 50px;
  // border-top: 1px dashed #666;
  // border-bottom: 1px dashed #666;
  font: $font__special;
  h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0px;
  }
  .product-menu {
    display: flex;
    justify-content: center;
    a {
      font-family: $font__special;
      font-size: 1.2rem;
      color: $color__green;
      text-decoration: none;
      text-transform: uppercase;
      margin: 20px 25px;
      &:hover {
        color: black;
      }
    }
  }
}
.product-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  article {
    width: 23%;
    height: 330px;
    overflow: hidden;
    border: 1px solid $color__border-abbr;
    img {
      display: block;
      width: 100%;
      height: 260px;
      object-fit: cover;
    }
    .text-container {
      border-top: 5px solid $color__border-abbr;
      position: relative;
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: space-between;

      .product-name {
        // margin-top: 16px;
        // padding-left: 10px;
        // width: 100%;
        // overflow: hidden;
        // white-space: nowrap;
      }
    }
    .product-dots {
      flex-grow: 1;
      overflow: hidden;
      position: relative;
      &:before {
        content: '..............................';
        flex-grow: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }
    .product-price {
      // background: white;
      // position: absolute;
      // right: 0px;
      // top: 16px;
      // padding-right: 10px;
      &:before {
        content: '$';
      }
    }
  }
}
.single-type {
  text-align: center;
}

/* Single products page */

/* JOURNAL HOMEPAGE ENTRY */

.journal-entries {
  display: flex;
  justify-content: space-between;
  .front-page-post-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0.75rem;
    border-top-width: 5px;
    align-items: center;
    .front-page-post-thumbnail {
      img {
        // height: 50%;
        width: 100px;
      }
    }
  }
}

/* ABOUT PAGE */
.hero-image-header {
  height: 100vh;
  .entry-title {
    color: white;
  }
}

.page-about-section {
  margin: 1.5rem auto;
  width: 850px;
}
.page-about-section-title {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

/* FIND US */

/* POSTS & PAGES */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

/* Links */
nav a {
  color: white;
  text-decoration: none;
  &:visited {
    color: white;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* ASIDES */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* COMMENTS */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
