.single,
.page,
.blog {
  .site {
    display: grid;
    grid-template-areas:
      'header header'
      'main main'
      'footer footer';
    grid-template-columns: 65% 35%;

    header {
      grid-area: header;
    }

    .site-content {
      margin: auto;
      grid-area: main;
      border-top: 1px solid #404040;
      max-width: 1240px;

      // on home and about, use the body class, all other pages should be ok
      // unset some styles e.g.
      //   max-width: unset;
      //   margin: unset;

      display: flex;

      .content-area {
        width: 75%;
        flex-grow: 1;
      }
      .widget-area {
        width: 25%;
      }
      //   article {
      //
      //     margin: auto;
      //   }
    }
    .widget-area {
      border-top: 1px solid #404040;
      grid-area: aside;
      border-left: 1px solid #404040;
    }

    .site-footer {
      grid-area: footer;
    }
  }
  .entry-header {
    position: relative;

    img {
      width: 100%;
      height: auto;
      border-right: 1px solid #e1e1e1;
      padding-right: 5%;
      border-top: 1px solid #e1e1e1;
      padding-top: 5%;
    }

    .entry-title {
      background-color: #248a83;
      color: #fff;
      font-size: 33.6px;
      font-size: 2.1rem;
      left: 0;
      padding: 0.75rem 1.5rem;
      position: absolute;
      margin-top: 5rem;
      max-width: 75%;
      top: 0;
    }
    .entry-meta {
      position: absolute;
      display: flex;
      padding-bottom: -100px;
      background-color: teal;
      bottom: 0;
      color: #fff;
      font-family: Novecento Sans Web, sans-serif;
      right: 0;
      text-transform: uppercase;
      margin-top: -31px;
      margin-right: 47px;
    }
  }
}

// front page
.home,
.page-about {
  .site {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.entry-title {
  background: none;
}

.page-about,
.home {
  .site {
    .site-content {
      max-width: unset;
      margin: unset;
    }
  }
}

.page-about {
  .hero-image-header {
    position: relative;

    .entry-title {
      background: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// journal page link style
.blog {
  .entry-header {
    a,
    a:visited {
      color: #fff;
    }
  }
}
