.single,
.page,
.blog {
  .site {
    display: grid;
    grid-template-areas:
      'header header'
      'main aside';
    grid-template-columns: 65%, 35%;

    header {
      grid-area: header;
    }

    .content-area {
      grid-area: main;
      border-top: 1px solid #404040;
    }
    .widget-area {
      border-top: 1px solid #404040;
      grid-area: aside;
      border-left: 1px solid #404040;
    }
  }
  .entry-header {
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    .entry-title {
      background-color: #248a83;
      color: #fff;
      font-size: 33.6px;
      font-size: 2.1rem;
      left: 0;
      padding: 0.75rem 1.5rem;
      position: absolute;
      margin-top: 2.25rem;
      max-width: 75%;
      top: 0;
    }
    .entry-meta {
      position: absolute;
      display: flex;
      padding-bottom:-100px;
      background-color: teal;
      bottom: 0;
      color: #fff;
      font-family: Novecento Sans Web, sans-serif;
      right: 0;
      text-transform: uppercase;
    }
  }
}

// front page
.home,
.page-about {
  .site {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.entry-title {
  background: none;
}

.single-journal-content{
    //all styles for single.php
 }