.single,
.page,
.blog {
  .site {
    display: grid;
    grid-template-areas:
      'header header'
      'main aside';
    grid-template-columns: 65%, 35%;

    header {
      grid-area: header;
    }

    .content-area {
      grid-area: main;
      border-top: 1px solid #404040;
    }
    .widget-area {
      border-top: 1px solid #404040;
      grid-area: aside;
      border-left: 1px solid #404040;
    }
  }
  .entry-header {
    position: relative;

    img {
      width: 80%;
    }

    .entry-title {
      position: absolute;
      top: 140px;
    //   background-color: teal;
    }
    .entry-meta {
      position: absolute;
      display: flex;
      background-color: teal;
      bottom: 200px;
      right: 400px;
    }
  }
}

// front page
.home,
.page-about {
  .site {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.entry-title {
  background: none;
}
